<launch>
  <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera" output="screen">
  <param name="width" type="int" value="1280" />
  <param name="height" type="int" value="720" />
  </node>

  <node pkg="sasm_arm_control" type="detect_laser.py" name="detect_laser" output="screen">
  </node>
  
  <node pkg="sasm_arm_control" type="sasm_arm_control_by_laser.py" name="sasm_arm_control_by_laser" output="screen">
  </node>

</launch>
